NODE_ENV=development
MONGODB_URI=mongodb://mongo:mongo123@localhost:27017/productdb?authSource=admin
RABBITMQ_URLS=amqp://rabbitmq:rabbitmq123@localhost:5672
RABBITMQ_QUEUE=product_queue
JWT_SECRET=your_super_secret_jwt_key
